@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600;1,700&display=swap");
html, body, h1, h2, h3, h4, h5, h6, p, div, header, footer, section, aside, article, ul, ol, li, dl, dd, dt, fieldset {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

ul, ol {
  list-style: none;
}

.w100 {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

input, select, textarea, button {
  font-size: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

/**************** 반응형 ****************/
.content-wrap {
  margin: 0 auto;
  height: calc(70vh);
  overflow: scroll;
}

.content-wrap .select-peple-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrap .select-peple-list li {
  position: relative;
  padding: 1em;
}

.content-wrap .select-peple-list li .select-peple-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 2px 2px 2px #b1a5a5;
          box-shadow: 2px 2px 2px #b1a5a5;
  cursor: pointer;
  color: #525564;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #96C0CE;
  width: 200px;
  height: 60px;
}

.content-wrap .select-peple-list li .select-peple-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 576px) {
  .content-wrap .select-peple-list li .select-peple-button {
    width: 150px;
  }
}

.content-wrap .select-peple-list li .peple-check {
  display: none;
}

.content-wrap .select-peple-list li .peple-check:checked + .peple-label span {
  color: red;
}

.content-wrap .select-peple-list li .peple-label {
  width: 100px;
  height: 100px;
  position: absolute;
  right: -70px;
  top: 0;
}

.content-wrap .select-peple-list li .peple-label span {
  font-size: 2em;
}

.total-price-wrap {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-size: 1rem;
}

.total-price-wrap .select-menu-list li {
  position: absolute;
  top: 0%;
  padding: 0.5em 1em;
  background-color: #525564;
  font-weight: bold;
  color: #FEF6EB;
  min-width: 320px;
  z-index: -1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.total-price-wrap .total-price {
  cursor: pointer;
  min-width: 320px;
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #525564;
  font-weight: bold;
  color: #FEF6EB;
}

.total-price-wrap .total-price:hover + .select-menu-list li:nth-child(1) {
  top: -100%;
}

.total-price-wrap .total-price:hover + .select-menu-list li:nth-child(2) {
  top: -200%;
}

.total-price-wrap .total-price:hover + .select-menu-list li:nth-child(3) {
  top: -300%;
}
